<footer class="main-footer">
    <strong class="text-dark">Copyright &copy;2022. <span class="text-blue">Shoes's House</span></strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b class="text-dark">Version</b> B.1809349
    </div>
</footer>