
<div class="all-header">
    <header class="container-fluid header">
        <span class="mobile-icon" onclick="changeSates()">
            <i class="fas fa-bars"></i>
        </span>
        <div class="header-logo">
            <a asp-action="Index" asp-controller="Home">
                <img src="/image/Walk in line.png" alt="Shoe'sHouse" />
            </a>
            <p class="header-logo-name">Bring power to your steps</p>
        </div>
        <form class="header-search" asp-action="Index" asp-controller="Product" method="get">
            <input type="text" placeholder="Search..." name="keyword" id="search" />
            <button><i class="fas fa-search"></i></button>
        </form>
        @if (User.Identity.IsAuthenticated)
        {

            var id = User.Claims.Where(x => x.Type == "Id").FirstOrDefault().Value;

            <div class="header-user">
                <div class="img-user">
                    <img src="@(SystemConstants.AppSettings.ImageUrl)/@User.Claims.Where(x => x.Type == "Avartar").FirstOrDefault().Value" alt="user avatar">
                </div>
                <div class="user-info">
                    <a asp-action="Index" asp-controller="Account" asp-route-id="@id" class="user-info-item">Profile</a>
                    <a asp-action="Logout" asp-controller="Login" class="user-info-item">Sign out</a>
                </div>
            </div>
        }
        else
        {
            <a asp-action="Index" asp-controller="Login" class="header-login">
                <button id="btn" class="btn btn-primary btn-login">Sign In</button>
            </a>
        }

    </header>
</div>
<div class="menu-bar">
    <ul class="menu-bar-list">
        <li class="menu-bar-item">
            <a asp-action="Index" asp-controller="Home" class="@(ViewContext.RouteData.Values["Controller"].ToString()=="Home" ? "menu-bar-active" : "")">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="menu-bar-item">
            <a asp-action="Index" asp-controller="Cart" class="@(ViewContext.RouteData.Values["Controller"].ToString()=="Cart" ? "menu-bar-active" : "")">
                <i class="fas fa-cart-plus"></i>
                <span>Basket</span>
            </a>
            <div class="cart-number" id="cart-number">
                0
            </div>
        </li>
        <li class="menu-bar-item">
            <a asp-action="Index" asp-controller="Product">
                <i class="fas fa-shoe-prints"></i>
                <span>Shoes</span>
            </a>
        </li>
        <li class="menu-bar-item">
            <a href="#/">
                <i class="fas fa-code-branch"></i>
                <span>Brands</span>
            </a>
        </li>
        <li class="menu-bar-item">
            <a href="#footer" ">
                <i class="far fa-comments"></i>
                <span>About</span>
            </a>
        </li>
    </ul>
</div>
<div class="menu-mobile">
    <ul class="mobile-list">
        <i class="fas fa-times" onclick="ext()"></i>
        <li class="mobile-item">
            <a href="#/">
                <i class="fas fa-sign-in-alt"></i>
                <span>Login</span>
            </a>
        </li>
        <li class="mobile-item">
            <a href="#/">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="mobile-item">
            <a href="#/">
                <i class="fab fa-shopify"></i>
                <span>Basket</span>
            </a>
        </li>
        <li class="mobile-item">
            <a href="#/">
                <i class="fas fa-home"></i>
                <span>Categories</span>
            </a>
        </li>
        <li class="mobile-item">
            <a href="#/">
                <i class="fas fa-home"></i>
                <span>About</span>
            </a>
        </li>
        <li class="mobile-item">
            <a href="#/">
                <i class="fas fa-home"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>