<div id="footer" class="container">
    <div class="footer">
        <img src="/image/Walk in line.png" alt="">
        <div class="footer-item">
            <p class="footer-name">
                Brands
            </p>
            <div class="footer-content">
                <p class="footer-content1">
                    Nike
                </p>
                <p class="footer-content1">
                    Balance
                </p>
                <p class="footer-content1">
                    Adidas
                </p>
                <p class="footer-content1">
                    Puma
                </p>
                <p class="footer-content1">
                    Converse
                </p>
            </div>
        </div>
        <div class="footer-item">
            <p class="footer-name">
                Support
            </p>
            <div class="footer-content">
                <p class="footer-content1">
                    Order Status
                </p>
                <p class="footer-content1">
                    Delivery & Return
                </p>
                <p class="footer-content1">
                    FAQs
                </p>
                <p class="footer-content1">
                    Accessibility
                </p>
                <p class="footer-content1">
                    Payment Options
                </p>
            </div>
        </div>
        <div class="footer-item">
            <p class="footer-name">
                About Us
            </p>
            <div class="footer-content">
                <p class="footer-content1">
                    Our Mission
                </p>
                <p class="footer-content1">
                    Location
                </p>
                <p class="footer-content1">
                    Careers
                </p>
                <p class="footer-content1">
                    Upcoming
                </p>
                <p class="footer-content1">
                    Journal
                </p>
            </div>
        </div>
        <div class="footer-item">
            <p class="footer-name">
                Social
            </p>
            <div class="footer-content">
                <a href="#/" class="footer-content1 footer-active">
                    <i class="fab fa-facebook-square"></i> Facebook
                </a>
                <a href="#/" class="footer-content1 footer-active">
                    <i class="fab fa-github-square footer-active"></i> Github
                </a>
                <a href="#/" class="footer-content1 footer-active">
                    <i class="fab fa-linkedin"></i> Linkedin
                </a>
                <a href="#/" class="footer-content1 footer-active">
                    <i class="fab fa-twitter-square"></i> Twitter
                </a>
                <a href="#/" class="footer-content1 footer-active">
                    <i class="fab fa-instagram-square"></i> Instagram
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid background">
    <div class="footer-end">
        <div>
            <i class="fas fa-map-marker-alt"></i> <p> VietNam</p>
            <p> © 2021 Shoe'sHouse Inc. All right reserved </p>
        </div>
        <div>
            <p>Guides</p>
            <p>Term of sales</p>

            <p>Term of ues</p>
            <p>Shoe'sHouse Privacy Policy</p>

        </div>
    </div>

</div>